/* Login form */

body {
    width: 100%;
    height: 100vh;
    background-image: url(../../img/bg/bg1.jpg);
    background-repeat: no-repeat;
}

.container {
    background-color: rgba(0, 0, 0, .8);    
    padding: 0px 20px 20px 20px;
}

/* Input text color */
input, textarea {
    color: #fff;
}

/* label color */
.input-field label {
    color: #fff;
}

/* label focus color */
.input-field input:focus + label,
.input-field textarea:focus + label {
    color: tomato !important;
}

  /* label underline focus color */
.input-field input:focus,
.input-field textarea:focus {
    border-bottom: 1px solid tomato !important;
    box-shadow: 0 1px 0 0 tomato !important;
}

.mainMenu li {
    min-width: 140px;
    text-align: center;
}

#del_news {
    padding-top: 7px;
}

textarea.materialize-textarea{
    min-height: 0rem;
    height: .5rem !important;
}

.custom_container {
    padding-top: 200px;

}

.text-color {
    color: #fff;
}

#logout {
    display: inline-block;
    position: relative;
    top: -52px;
    left: 50%;
}
